.projects{
    /*position: relative;*/
    background-color: #ece7e7;
    width: 100%;
    /*margin-top: 7%;*/
    /*margin-buttom: 7%;*/
    height: 100%;
    margin-left: 30%;
    margin-right: 30%;
    /*text-align: justify;*/

}